@font-face {
  font-family: "Sperintura";
  src: url("/images/fonts/Sprintura\ Demo.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Sperintura", sans-serif;
}

.nav-links li a {
  font-family: "Sperintura", sans-serif;
  letter-spacing: 2px;
}

.logo img {
  width: 100px;
}

@media (max-width: 480px) {
  .logo img {
    width: 65px;
  }
}
