@font-face {
  font-family: "Sperintura";
  src: url("/images/fonts/Sprintura\ Demo.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Base styles */
:root {
  --primary-color: #ffbb00;
  --secondary-color: #1a1a1a;
  --text-color: #999999;
  --transition: all 0.3s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Sperintura", sans-serif;
  line-height: 1.6;
  overflow-x: hidden;
}

.image-hover-box {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.image-hover-box img {
  display: block;
  width: 100%;
  height: auto;
}

/* الشايد اللي بيظهر من تحت */
.bottom-shade {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%; /* بيغطي نص الصورة من تحت */
  background: linear-gradient(to top, #dfac4d51); /* من أصفر لشبه شفاف */
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none; /* علشان ما يأثرش على الـ hover */
}

.image-hover-box:hover .bottom-shade {
  opacity: 1;
}

.header-image-container {
  position: relative;
  display: inline-block;
}

.header-image-container::before,
.header-image-container::after {
  content: "";
  position: absolute;
  top: 0;
  width: 40px;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.header-image-container::before {
  left: 0;
  background: linear-gradient(to right, #dfac4d7b, transparent);
}

.header-image-container::after {
  right: 0;
  background: linear-gradient(to left, #dfac4d7b, transparent);
}

.header-image-container.hover-on-edge::before,
.header-image-container.hover-on-edge::after {
  opacity: 1;
}

.background {
  background-image: url(/images/HeroImg/webSitedesign-13.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 20px 20px;
}

.container-v {
  padding-block: 20px;
}

/* Navigation */
.navbar {
  position: fixed;
  background-color: #33160d7f;
  width: 100%;
  z-index: 1000;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  height: 120px;
}

.nav-links {
  position: absolute;
  left: 55%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-links li a {
  color: white;
  font-style: italic;
  text-decoration: none;
  font-weight: 900;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  padding: 0.5rem 1rem;
  transition: var(--transition);
  border: 0px silver solid;
}

.nav-links li a:hover {
  text-decoration: underline;
  color: var(--primary-color);
}

.logo {
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 2px;
}

.logo img {
  width: 100px;
  margin-top: 0.7rem;
}

/* hero section */

.hero {
  position: relative;
}

.slide-image {
  width: 100%;
  height: auto;
  display: block;
}

.cta-button {
  display: inline-block;
  padding: 1rem 2rem;
  background: var(--gold-gradient);
  color: var(--secondary-color);
  text-decoration: none;
  border-radius: 5px;
  transition: var(--transition);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  border: 2px solid transparent;
}

.cta-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.5);
  border-color: var(--primary-color);
}

/* Swiper Navigation */
.swiper-button-next,
.swiper-button-prev {
  color: var(--primary-color) !important;
}

.swiper-pagination-bullet {
  background: var(--primary-color) !important;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.nav-toggle span {
  width: 25px;
  height: 3px;
  background-color: var(--primary-color);
  margin: 2px;
  transition: var(--transition);
}

.slide-caption {
  position: absolute;
  bottom: 12%;
  left: 32%;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  z-index: 2;
  text-align: center;
}

.slide-caption h1 {
  font-size: 2.8rem;
  line-height: 3.2rem;
  margin: 0 0 10px;
}

.slide-caption p {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  color: var(--primary-color);
  letter-spacing: 4px;
}

.slide-caption2 {
  position: absolute;
  bottom: 12%;
  left: 28%;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  z-index: 2;
  text-align: center;
}

.slide-caption2 h1 {
  font-size: 2.8rem;
  line-height: 3.2rem;
  margin: 0 0 10px;
}

.slide-caption2 p {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  color: var(--primary-color);
  letter-spacing: 4px;
}

/* shopbygoal */

.shopbygoal {
  margin: 0 auto;
  padding: 20px 20px;
}

.shopbygoal h2 {
  text-align: center;
  color: #000;
  font-size: 1.5rem;
  text-underline-offset: 10px;
  margin-bottom: 1rem;
  font-style: italic;
}

.title {
  margin-top: 10px;
  font-size: 1rem;
  opacity: 1;
  position: relative;
  z-index: 3;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}

.goalImgs {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around; /* لتوزيع الصور بالتساوي */
}

.goalitem {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  z-index: 2;
}

.goalitem:hover .title {
  color: #ffbb00;
}

.goalcard {
  display: flex;
  justify-content: center;
}

.goalcard .img {
  margin-bottom: 0 !important;
}

.goalcard img {
  width: 370px;
}

.card-img {
  width: 370px;
  height: 370px;
  background-image: url("/images/Products/products.png");
  background-size: cover;
  background-position: center;
  transition: background-image 0.3s ease-in-out;
}

.card-img:hover {
  background-image: url("/images/Products/products2.png");
}

.shop-next {
  margin-right: 1rem;
}

.shop-prev {
  margin-left: 1rem;
}

.Mission img {
  width: 100%;
}

.Mission h3 {
  text-underline-offset: 5px;
  text-align: center;
  font-size: 1.5rem;
  margin: 0.5rem;
}

.Mission p {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.Mission a {
  color: #ffbb00;
  text-decoration: none;
}

/* brandSection */

.showcase {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

.brand-contanier {
  margin: 0 auto;
}

.new-arraivals {
  text-align: center;
  font-size: 1rem;
}

.brand-slider-section {
  display: flex;
  padding: 20px 20px;
}

.brand-slider {
  margin-left: 20px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.brand-slider .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
}

.brand-slider .swiper-slide img {
  max-width: 100%;
  height: 180px;
}

.brandslide {
  display: flex;
  flex-direction: column;
}

.brand-title {
  margin: 5px;
}

.brandslide p {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.brandslide span {
  text-align: center;
  color: var(--primary-color);
}

.be-img {
  position: relative;
}

.be-img img {
  display: block;
  height: auto;
}

.be-img .view-more {
  position: absolute;
  top: 66%;
  right: 68%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 6px 12px;
  text-decoration: none;
  border-radius: 4px;
  font-size: 24px;
  transition: background 0.3s ease;
  z-index: 1000;
}

@media (max-width: 468px) {
  .be-img .view-more {
    font-size: 12px;
    right: 58%;
  }

  .nav-links {
    left: 50%;
  }

  .Mission {
    padding: 0;
  }

  .container {
    padding: 0;
  }
}

.be-img .view-more:hover {
  background: rgba(0, 0, 0, 0.8);
}

.him-her {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 1.5rem;
  gap: 1.2rem;
  width: 100%;
}

.him-her img {
  width: 100%;
}

/* About Page */

.about-hero {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.about-hero-image {
  width: 100%;
  height: 100%;
  position: relative;
}

.about-hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.about-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-items: center;
}

.about-image img {
  width: 100%;
  height: auto;
}

.about-us {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.about-us img {
  width: 100%;
  height: 300px;
}

.about-info {
  font-size: 1.2rem;
}

.about-info h3 {
  text-decoration: underline;
  text-decoration-color: var(--primary-color);
  text-underline-offset: 10px;
}

.about-info p {
  font-weight: 100;
}

.team-section {
  padding: 10px 0;
  text-align: center;
}

.team-section h2 {
  padding: 0.5rem;
  text-decoration: underline;
  text-decoration-color: var(--primary-color);
  text-underline-offset: 10px;
  margin-bottom: 0.8rem;
}

.team-grid {
  background-image: url(/images/HeroImg/photo_Logos.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.team-member {
  text-align: center;
}

.team-member img {
  width: 120px;
  height: 120px;
  padding: 1rem;
  object-fit: cover;
}

/* Products Page */

.ourproducts {
  display: flex;
  flex-direction: row;
}

.ourproducts-section {
  text-align: center;
  margin-bottom: 1rem;
}

.products-info {
  padding: 0.5rem;
  width: 60%;
  text-align: center;
  margin: 0 auto;
}

.products-info h3 {
  font-size: 1.7rem;
  margin-bottom: -0.6rem;
}

.products-info span {
  color: #f1b205;
  letter-spacing: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-style: italic;
  margin-bottom: 0.5rem;
}

.products-info p {
  padding: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  text-wrap: balance;
  font-size: 0.7rem;
}

.filters {
  display: flex;
  gap: 1rem;
  margin-bottom: 20px;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}
.filters select {
  padding: 6px 10px;
  font-size: 14px;
}

.products-section {
  padding: 20px 20px 60px;
}

.brand-section h2 {
  text-decoration: underline;
  text-decoration-color: var(--primary-color);
  text-underline-offset: 7px;
  margin-bottom: 0.5rem;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 2rem;
}

.product-card {
  border-radius: 10px;
  padding: 1rem;
  transition: var(--transition);
}

.product-car d:hover {
  transform: translateY(-5px);
  background: rgba(255, 255, 255, 0.15);
}

.product-card img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.product-card h3 {
  color: var(--primary-color);
  margin-bottom: 0.5rem;
  font-size: 1rem;
  text-align: center;
  color: #000;
}

.product-card p {
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

.product-card a {
  text-decoration: none;
  color: inherit;
}

.product-image-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.product-image-wrapper img {
  width: 100%;
  height: auto;
  display: block;
  transition: filter 0.3s ease;
}

.product-image-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.view-details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary-color);
  color: #fff;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.product-card:hover .product-image-wrapper img {
  filter: blur(5px);
}

.product-image-wrapper:hover::after,
.product-image-wrapper:hover .view-details {
  opacity: 1;
}

.products-imgf {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 1rem;
}

/* Contact Page */
.contact-section {
  padding: 120px 0 60px;
}

.contact-section h1 {
  text-align: center;
}

.contact-section p {
  font-family: Arial, Helvetica, sans-serif;
}

.contact-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 4rem;
  margin-top: 2rem;
}

.contact-info {
  background: rgba(255, 255, 255, 0.1);
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
}

.info-item {
  margin-bottom: 1.5rem;
}

.info-item h3 {
  color: var(--primary-color);
  margin-bottom: 0.5rem;
}

.contact-form {
  background: rgba(255, 255, 255, 0.1);
  padding: 2rem;
  border-radius: 10px;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  padding: 1rem;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 0.8rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  color: var(--text-color);
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  border-color: var(--primary-color);
}

.submit-button {
  width: 100%;
  padding: 1rem;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: var(--transition);
}

.submit-button:hover {
  background-color: #cc0000;
}

/* Responsive Design */
@media (max-width: 768px) {
  .nav-toggle {
    display: flex;
  }

  .nav-links {
    display: none;
    width: 100%;
    position: absolute;
    text-align: center;
    top: 100%;
    background-color: #33160dc2;
    flex-direction: column;
    padding: 1rem;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0;
    height: 80px;
  }

  .nav-links li {
    margin: 1rem 0;
  }

  .logo img {
    width: 60px;
  }

  .hero-slide img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: center top;
  }

  .slide-caption {
    left: 15%;
  }

  .slide-caption h1 {
    font-size: 1.5rem;
    line-height: 1.6rem;
  }

  .slide-caption p {
    font-size: 1rem;
    letter-spacing: 3px;
  }

  .slide-caption2 {
    left: 15%;
  }

  .slide-caption2 h1 {
    font-size: 1.3rem;
    line-height: 1.6rem;
  }

  .slide-caption2 p {
    font-size: 1rem;
    letter-spacing: 5px;
  }
}

.hero-slide {
  position: relative;
  height: 100%;
}

.about-content {
  grid-template-columns: 1fr;
}

.contact-content {
  grid-template-columns: 1fr;
}

@media (max-width: 480px) {
  .goalImgs {
    flex-wrap: wrap;
  }
  .shopbygoal h2 {
    font-size: 1.5rem;
    margin-top: 15px;
  }

  .goalitem {
    flex-direction: column-reverse;
  }

  .Mission {
    display: block;
  }

  .Mission p {
    font-size: 0.8rem;
    padding-inline: 1rem;
    width: 100%;
    padding-inline: 0.5rem;
  }

  .filters {
    display: flex;
    flex-direction: column;
  }

  .brand-slider-section {
    flex-direction: column;
  }

  .main-brand {
    margin: 0 auto;
    text-align: center;
  }

  .brand-slider {
    width: 100%;
  }

  .brand-slider .swiper-slide img {
    height: auto;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 20px !important; /* مهم جدًا علشان Swiper بيحط حجم افتراضي */
  }

  .brandslide p {
    font-size: 1.2rem;
    margin-top: 0.3rem;
  }

  /*About*/
  .about-us {
    flex-direction: column-reverse;
  }

  .about-info {
    font-size: 0.7rem;
  }

  .about-info h3 {
    text-underline-offset: 5px;
    margin-bottom: 0.4rem;
  }

  .team-section h2 {
    font-size: 1rem;
  }

  .team-grid {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

  .team-member img {
    width: 80px;
    height: 80px;
  }

  /*products*/
  .ourproducts-section {
    flex-direction: column;
  }

  .products-imgf {
    display: flex;
    flex-direction: row;
  }

  .products-info h3 {
    font-size: 1.5rem;
  }

  .products-info span {
    font-size: 0.8rem;
  }

  .products-info p {
    font-size: 0.7rem;
  }

  .products-info {
    padding: 0.5rem;
    width: 100%;
  }

  .contact-info {
    padding: 0;
  }
}
